<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wapchief.jpushim"
    android:versionCode="1"
    android:versionName="1.0.0">
    <permission
        android:name="com.wapchief.jpushim.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!--******************极光权限*****************-->
    <!-- Required -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.wapchief.jpushim.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".framework.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wapchief.jpushim.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--加载登陆状态-->
        <activity android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--登陆-->
        <activity android:name=".activity.LoginActivity"
            android:noHistory="true">

        </activity>
        <!--用户中心-->
        <activity android:name=".activity.UserActivty"/>
        <!--首页-->
        <activity android:name=".MainActivity"
            android:exported="true" >
        </activity>
        <!--会话窗-->
        <activity android:name=".activity.ChatMsgActivity"
            android:windowSoftInputMode="adjustResize"/>
        <!--WebView-->
        <activity android:name=".activity.WebViewActivity"/>
        <!--关于-->
        <activity android:name=".activity.AboutActivity"/>
        <!--设置-->
        <activity android:name=".activity.SettingActivity"
            android:noHistory="true"></activity>
        <!--添加好友／群-->
        <activity android:name=".activity.AddFriendsActivity"/>
        <!--请求内容-->
        <activity android:name=".activity.AddFriendMsgActivity"/>
        <!--请求消息列表-->
        <activity android:name=".activity.PullMsgListActivity"/>
        <!--查看用户资料-->
        <activity android:name=".activity.UserInfoActivity"/>
        <!--用户资料更多-->
        <activity android:name=".activity.UserInfoOptionsActivity"/>
        <!--编辑个人资料-->
        <activity android:name=".activity.UserEditActivity"/>
        <!--修改密码-->
        <activity android:name=".activity.PassWordActivity"/>
        <!--更多通知-->
        <activity android:name=".activity.PullMsgListMoreActivity"/>
        <!--群组会话-->
        <activity android:name=".activity.ChatMsgGroupActivity"/>
        <!--创建群组-->
        <activity android:name=".activity.GroupCreateActivity"/>
        <!--群组列表-->
        <activity android:name=".activity.GroupListActivity"/>
        <!--群组详情-->
        <activity android:name=".activity.GroupDetailActivity"/>
        <!--***********************极光配置***********************-->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.wapchief.jpushim" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required JMessage SDK核心功能-->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="com.wapchief.jpushim" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="b47a37f342eba5f9fbcd1961" />

    </application>

</manifest>